body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  width: 340px;
}